<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <style>
           a {
               text-decoration: none;
           } 
        </style>
    </head>
    <body>
        <h3>Select mode</h3>

    <form action="">
        <a href="/pvse">PVE</a>
    </form>        
    </body>
</html>