<html>
    <head>

    </head>
    <body>
        <h3>Lets start the game</h3>
        <p>You have 1 over</p>

        <p>Balls left: <span id="ball">6</span></p>

        <p>Score: <span id="score">0</span></p>
            
            <button class="btn btn-success" id="hit">Hit ball</button>

        <p>You scored: <span id="caption"></span></p>

    <script src="/js/pve.js"></script>

    </body>
</html>



