<html>
    <head>

    </head>
    <body>
        <form action="" method="POST" id="create">
            
            <button class="btn btn-success">Submit</button>
        </form>

    <script src="/js/pve.js"></script>

    </body>
</html>

<h2>hello</h2>



